<mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-accordion *ngIf="postList.length > 0 && !isLoading">
    <!-- multi="true" -->
  <mat-expansion-panel *ngFor="let post of postList let i = index">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <div class="image" >
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="deletePost(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="postList.length <= 0 && !isLoading" class="nopostYet mat-body-1">No post yet!</p>
