
<mat-card>
    <mat-spinner *ngIf="loadingSpinner"></mat-spinner>
      <form (submit)="signupFormSave(loginForm)" #signupForm="ngForm" *ngIf="!loadingSpinner">
        <mat-form-field>
          <input matInput name="email" type="email" #email="ngModel" ngModel placeholder="Enter Email" required email/>
        </mat-form-field>
        <mat-error *ngIf="email.invalid">Please enter a Valid Email</mat-error>
        
        
        <mat-form-field>
          <input matInput name="password" type="password" #password="ngModel" ngModel placeholder="Password" required/>
        </mat-form-field>
        <mat-error *ngIf="password.invalid">Please enter a valid Password</mat-error>
        
        <button mat-raised-button color="primary" type="submit"> Sign Up </button>
      </form>  
    </mat-card>
    