mat-card{
  width: 20%;
  margin: auto;
}
mat-form-field, textarea {
  width: 100%;
}

mat-card button{
  position: relative;
  text-align: center;
  left: 30%;
}
mat-spinner{
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.imagePreview {
  height: 5rem;
  margin: 1rem 0;
}

.imagePreview img{
  height: 100%;
}