<mat-card>
<mat-spinner *ngIf="loadingSpinner"></mat-spinner>

  <form [formGroup]="form" (submit)="savePost()"  *ngIf="!loadingSpinner">
    
    <mat-form-field>
      <input matInput type="text"  formControlName='title'  placeholder="Enter Title"/>
    </mat-form-field>
    <mat-error *ngIf="form.get('title').invalid">Please enter a Title</mat-error>
    
    <div>
      <button mat-button type="button" (click)="uploadImage.click()">Image Select</button>
      <input type="file" #uploadImage (change)="imagePicked($event)">
    </div>
    <div class="imagePreview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput row="6" formControlName='content' placeholder="Enter Content"></textarea>
    </mat-form-field>
    <mat-error *ngIf="form.get('content').invalid">Please enter Content</mat-error>
    
    <button mat-raised-button color="primary" type="submit">Save Post</button>
    
  </form>  

</mat-card>
